* {
    box-sizing: border-box;
}

body {
    font-family: Linotte,YuGothic,'Yu Gothic',游ゴシック体,游ゴシック,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Roboto,メイリオ,Meiryo,'ＭＳ Ｐゴシック',Osaka,'MS PGothic',Arial,Helvetica,Verdana,sans-serif!important;
    color: #333;
}

input {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    appearance: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button.blue {
    background-color: #007bff;
    border-color: #007bff;
}

button.blue:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.container {
    width: 500px;
    margin: 20rem auto;
}

.container .title {
    font-weight: bold;
}

.container .money,
.container .people {
    display: block;
    margin: 3rem 0;
    position: relative;
    padding-right: 2rem;
}

.container .money .label,
.container .people .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
    letter-spacing: 1px;
}

.container .money input,
.container .people select {
    width: 100%;
    border: none;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0.5rem;
}

.container .money input {
    margin-right: 2rem;
}

.container .people {

}

.container .people::after {
    content: "人";
    color: #555;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0.5rem;
}

.container .btn-area {
    text-align: center;
}